<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	<servlet>
		<servlet-name>Login</servlet-name>
		<servlet-class>fablix.Login</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>MoviesPage</servlet-name>
		<servlet-class>fablix.MoviesPage</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>myServlet</servlet-name>
		<servlet-class>fablix.myServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Search</servlet-name>
		<servlet-class>fablix.Search</servlet-class>
	</servlet> 
	<servlet>
		<servlet-name>AddCart</servlet-name>
		<servlet-class>fablix.AddCart</servlet-class>
	</servlet> 
	<servlet>
		<servlet-name>ShoppingCart</servlet-name>
		<servlet-class>fablix.ShoppingCart</servlet-class>
 	</servlet> 
	<servlet>
		<servlet-name>Startup</servlet-name>
		<servlet-class>fablix.Startup</servlet-class>
 	</servlet> 
	<servlet>
		<servlet-name>MovieInfo</servlet-name>
		<servlet-class>fablix.MovieInfo</servlet-class>
 	</servlet> 
	<servlet>
		<servlet-name>CartFunction</servlet-name>
		<servlet-class>fablix.CartFunction</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ccInfo</servlet-name>
		<servlet-class>fablix.ccInfo</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>StarsPage</servlet-name>
		<servlet-class>fablix.StarsPage</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>EmployeeLogin</servlet-name>
		<servlet-class>fablix.EmployeeLogin</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Dashboard</servlet-name>
		<servlet-class>fablix.Dashboard</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>searchAutoComplete</servlet-name>
		<servlet-class>fablix.searchAutoComplete</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>GenreDropDown</servlet-name>
		<servlet-class>fablix.GenreDropDown</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>employee_login.jsp</servlet-name>
		<jsp-file>/employee_login.jsp</jsp-file>
	</servlet>
	<servlet>
		<servlet-name>Popup</servlet-name>
		<servlet-class>fablix.Popup</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>MobileLogin</servlet-name>
		<servlet-class>mobile.MobileLogin</servlet-class>
	</servlet>		
	<servlet>
		<servlet-name>MobileHome</servlet-name>
		<servlet-class>mobile.MobileHome</servlet-class>
	</servlet>

	
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Search</servlet-name>
    <url-pattern>/Search</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MoviesPage</servlet-name>
    <url-pattern>/MoviesPage</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>myServlet</servlet-name>
    <url-pattern>/myServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddCart</servlet-name>
    <url-pattern>/AddCart</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Startup</servlet-name>
    <url-pattern>/Startup</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MovieInfo</servlet-name>
    <url-pattern>/MovieInfo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ShoppingCart</servlet-name>
    <url-pattern>/ShoppingCart</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CartFunction</servlet-name>
    <url-pattern>/CartFunction</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ccInfo</servlet-name>
    <url-pattern>/ccInfo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>StarsPage</servlet-name>
    <url-pattern>/StarsPage</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EmployeeLogin</servlet-name>
    <url-pattern>/EmployeeLogin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>employee_login.jsp</servlet-name>
    <url-pattern>/_dashboard/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Dashboard</servlet-name>
    <url-pattern>/Dashboard</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>searchAutoComplete</servlet-name>
    <url-pattern>/searchAutoComplete</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GenreDropDown</servlet-name>
    <url-pattern>/GenreDropDown</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Popup</servlet-name>
    <url-pattern>/Popup</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>MobileLogin</servlet-name>
  	<url-pattern>/MobileLogin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>MobileHome</servlet-name>
  	<url-pattern>/MobileHome</url-pattern>
  </servlet-mapping>
  
  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
  </welcome-file-list>
 
<!-- <security-constraint>
 <web-resource-collection>
    <web-resource-name>HTTPSOnly</web-resource-name>
    <url-pattern>/*</url-pattern>
 </web-resource-collection>
 <user-data-constraint>
    <transport-guarantee>CONFIDENTIAL</transport-guarantee>
 </user-data-constraint>
</security-constraint> -->
</web-app>

